<h2 class="center margin-custom">
    Title: <%= @article.title %>
</h2>

<div class="col-md-6 offset-md-3">
    <h4 class="center"><strong>Description</strong> </h4>
    </hr>
    <%= simple_format(@article.description) %>

    <div class="col-xs-4 col-xs-offset-4 ">
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary" %> 
        <%= link_to "Delete this article", article_path(@article), method: :delete,
            data: { confirm: "Are you sure you want to delete the article?"}, 
            class:"btn btn-danger"%>
        <%= link_to "View all articles", articles_path, class: "btn btn-success"%>
    </div>
</div>