<h3 class="center margin-custom display-4">
   Title: <%= @article.title %>
</h3>

<div class="col-md-6 offset-md-3">
    <% if @article.user %>
        <div class="list-group">
            <p>
                <small class="details"> Created by: </small>
                <%= link_to @article.user.username, user_path(@article.user)%> 
            </p>
            <div class="d-flex w-100 justify-content-between">
                <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                 <small class="details"><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small> 
            </div>
        </div>
    <% end %>
    <hr/>
    <strong>Description</strong>
    <%= simple_format(@article.description) %>
    <% if @article.categories.any? %>
        <p><strong>Categories:</strong> <%= render @article.categories %> </p>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4 ">
        <% if logged_in? && (current_user == @article.user || current_user.admin?)%>
            <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary" %> 
            <%= link_to "Delete this article", article_path(@article), method: :delete,
                data: { confirm: "Are you sure you want to delete the article?"}, 
                class:"btn btn-danger"%>
        <% end %>
        <%= link_to "View all articles", articles_path, class: "btn btn-success"%>
    </div>
</div>