<h2 class="center margin-custom">
    Title: <%= @article.title %>
</h2>

<div class="col-md-6 offset-md-3">
    <% if @article.user %>
        <div class="list-group list-color">
            <div class="d-flex w-100 justify-content-between">
                <small class="margin-user">Created by: </small>
                <h5 class="mb-2 margin-user"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></h5>
                <small class="margin-small"><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small> 
            </div>
            <p class="mb-2 center"><%= link_to @article.user.username, user_path(@article.user)%></p>
        </div>
    <% end %>

    <h4 class="center"><strong>Description</strong> </h4>
    </hr>
    <%= simple_format(@article.description) %>
    <div class="col-xs-4 col-xs-offset-4 ">
        <% if logged_in? && (current_user == @article.user || current_user.admin?)%>
            <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary" %> 
            <%= link_to "Delete this article", article_path(@article), method: :delete,
                data: { confirm: "Are you sure you want to delete the article?"}, 
                class:"btn btn-danger"%>
        <% end %>
        <%= link_to "View all articles", articles_path, class: "btn btn-success"%>
    </div>
</div>