<div class="row margin-custom">
    <div class="col-md-6 offset-md-3">
        <h2 class="center display-4"><%= "Category: " + @category.name%> </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-5">
        <% if logged_in? and current_user.admin? %>
            <span class="badge"><%= link_to "Edit Category name", edit_category_path(@category)%></span>
        <% end %>
        <%= will_paginate @categories_articles, :style => 'color:blue' %>
    </div>
</div>
<%= render 'articles/article', obj: @categories_articles %>
<div class="row">
    <div class="col-md-6 offset-md-5">
        <%= will_paginate @categories_articles%>
    </div>
</div>
